@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  
}
body, html {
  background-color: #f9fafb;
  min-height: 100vh;
}

/* App bar */

@media (min-width: 600px) {
  .css-yg49xf-MuiToolbar-root {
      padding-left:15px;
      padding-right: 24px;
  }

}

.header-toggler{
  color: oklch(.546 .245 262.881);
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 1.75rem;
  line-height: 32px;
}