@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  
}
body, html {
  background-color: #f9fafb;
  min-height: 100vh;
   overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* App bar */

@media (min-width: 600px) {
  .css-yg49xf-MuiToolbar-root {
      padding-left:15px;
      padding-right: 24px;
  }

}

.header-toggler{
  color: oklch(.546 .245 262.881);
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 1.75rem;
  line-height: 32px;
}

.wave-animation {
  animation: moveWave 5s infinite linear;
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.service-icon {
  font-weight: 100 !important;
  display: flex;
  justify-content: center;
}
.service-icon svg {
  font-size: 40px !important;
}